extends ../modules/layouts/default

include ../modules/filters/filters
include ../modules/slide-panel/slide-panel

block head
    - var pageTitle = 'Статьи';

block content

    .container
        +b.UL.pages-list
            each page in __pages
                +e.item
                    +e.link(href=page.href)= page.name

