.hidden-text {
    @extend %hidden;
}

.pages-list {
    @extend %listReset;
    margin-top: rem(30);

    &__item {
        font-size: rem(32);
        line-height: 1.8;
    }

    &__link {
        text-decoration: none;
        color: $color-1;

        transition: color .4s;

        &:hover {
            color: lighten($color-1, 30);
        }
    }
}
